<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sve.datacenter.dao.Ban_chargsMapper">
	<resultMap id="BaseResultMap" type="com.sve.datacenter.model.Ban_chargs">
		<id column="bcid" property="bcid" jdbcType="INTEGER" />
		<result column="price_id" property="priceId" jdbcType="INTEGER" />
		<result column="chargid" property="chargid" jdbcType="INTEGER" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="startdate" property="startdate" jdbcType="DATE" />
		<result column="enddate" property="enddate" jdbcType="DATE" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="fan_id" property="fan_id" jdbcType="INTEGER" />
		<result column="park_id" property="park_id" jdbcType="INTEGER" />
		<result column="vehic_id" property="vehic_id" jdbcType="INTEGER" />
	</resultMap>
	<resultMap type="com.sve.toll.model.Priceproject" id="BasePrice">
		<id column="priceid" property="priceid" jdbcType="INTEGER" />
		<result column="pricename" property="pricename" jdbcType="VARCHAR" />
		<result column="pricetype" property="pricetype" jdbcType="INTEGER" />
		<result column="latetian" property="latetian" jdbcType="INTEGER" />
		<result column="latefee" property="latefee" jdbcType="DECIMAL" />
		<result column="noweek" property="noweek" jdbcType="INTEGER" />
		<result column="sunhao" property="sunhao" jdbcType="INTEGER" />
		<result column="funs" property="funs" jdbcType="INTEGER" />
		<result column="funcount" property="funcount" jdbcType="DECIMAL" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>
	<resultMap type="com.sve.toll.model.Chargs" id="BaseChargs">
		<id column="chargid" property="chargid" jdbcType="INTEGER" />
		<result column="price_id" property="price_id" jdbcType="INTEGER" />
		<result column="chargname" property="chargname" jdbcType="VARCHAR" />
		<result column="shouid" property="shouid" jdbcType="INTEGER" />
		<result column="formula_id" property="formula_id" jdbcType="INTEGER" />
		<result column="pricing" property="pricing" jdbcType="DECIMAL" />
		<result column="fixedprice" property="fixedprice" jdbcType="DECIMAL" />
		<result column="priceunit" property="priceunit" jdbcType="INTEGER" />
		<result column="priceweek" property="priceweek" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.sve.datacenter.model.HouseFan" id="BaseHousefan">
		<id column="fanid" property="fanid" jdbcType="INTEGER" />
		<result column="disid" property="disid" jdbcType="INTEGER" />
		<result column="hlid" property="hlid" jdbcType="INTEGER" />
		<result column="unitid" property="unitid" jdbcType="INTEGER" />
		<result column="louceng" property="louceng" jdbcType="INTEGER" />
		<result column="hnum" property="hnum" jdbcType="VARCHAR" />
		<result column="zarea" property="zarea" jdbcType="DECIMAL" />
		<result column="tarea" property="tarea" jdbcType="DECIMAL" />
		<result column="garea" property="garea" jdbcType="DECIMAL" />
		<result column="utype" property="utype" jdbcType="INTEGER" />
		<result column="hchaoxiang" property="hchaoxiang" jdbcType="VARCHAR" />
		<result column="startdate" property="startdate" jdbcType="TIMESTAMP" />
		<result column="cyear" property="cyear" jdbcType="INTEGER" />
		<result column="fujian" property="fujian" jdbcType="VARCHAR" />
		<result column="isRuzhu" property="isruzhu" jdbcType="INTEGER" />
		<result column="tollcount" property="tollcount" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.sve.datacenter.model.ParkingSpace" id="BasePark">
		<id column="parkid" jdbcType="INTEGER" property="parkid" />
		<result column="pnum" jdbcType="VARCHAR" property="pnum" />
		<result column="disid" jdbcType="INTEGER" property="disid" />
		<result column="carea" jdbcType="DECIMAL" property="carea" />
		<result column="STATUS" jdbcType="INTEGER" property="status" />
		<result column="tollcount" jdbcType="INTEGER" property="tollcount" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>
	<resultMap id="BaseVehicle" type="com.sve.datacenter.model.Vehicle">
		<id column="vehicid" property="vehicid" jdbcType="INTEGER" />
		<result column="disid" property="disid" jdbcType="INTEGER" />
		<result column="pnum" property="pnum" jdbcType="VARCHAR" />
		<result column="kanum" property="kanum" jdbcType="VARCHAR" />
		<result column="cname" property="cname" jdbcType="VARCHAR" />
		<result column="cphone" property="cphone" jdbcType="VARCHAR" />
		<result column="carnum" property="carnum" jdbcType="VARCHAR" />
		<result column="carpai" property="carpai" jdbcType="DECIMAL" />
		<result column="tollcount" property="tollcount" jdbcType="INTEGER" />
		<result column="carxing" property="carxing" jdbcType="VARCHAR" />
		<result column="carcolor" property="carcolor" jdbcType="VARCHAR" />
		<result column="carqq" property="carqq" jdbcType="VARCHAR" />
		<result column="carweixin" property="carweixin" jdbcType="VARCHAR" />
		<result column="caremail" property="caremail" jdbcType="VARCHAR" />
		<result column="homephone" property="homephone" jdbcType="VARCHAR" />
		<result column="carphoto" property="carphoto" jdbcType="VARCHAR" />
		<result column="jiazhao" property="jiazhao" jdbcType="VARCHAR" />
		<result column="drivingphoto" property="drivingphoto" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.sve.datacenter.model.Ban_chargs" id="BasePriceids"
		extends="BaseResultMap">
		<association property="prices" resultMap="BasePrice" />
		<association property="chargs" resultMap="BaseChargs" />
	</resultMap>
	<select id="selectisBc" parameterType="com.sve.datacenter.model.Ban_chargs" resultType="java.lang.Integer">
	    select count(*) from ban_chargs bc where 
	    <if test="fan_id!=null and fan_id!=''">
			bc.fan_id=#{fan_id}
		</if><if test="park_id!=null and park_id!=''">
			bc.park_id=#{park_id}
		</if><if test="vehic_id!=null and vehic_id!=''">
			bc.vehic_id=#{vehic_id}
		</if> and bc.price_id=#{priceId} and bc.chargid=#{chargid}
	</select> 
	
	<select id="selectBcAll" resultMap="BasePriceids">
	    select bc.*,p.*,c.* from ban_chargs
		bc left join chargs c on bc.chargid=c.chargid left
		join priceproject p on p.priceid=bc.price_id
	</select>
	<select id="selectDisid" parameterType="java.lang.Integer"
		resultType="com.sve.datacenter.model.District">
		select disid,dname from district where disid=#{disid}
	</select>
	<select id="selectHlid" parameterType="java.lang.Integer"
		resultType="com.sve.datacenter.model.District">
		select unitid,floorname from houselou where unitid=#{hlid}
	</select>
	<select id="selectUtid" parameterType="java.lang.Integer"
		resultType="com.sve.datacenter.model.District">
		select hlid,unitname from util where disid=#{utilid}
	</select>
	<select id="selectBcPriceid" resultMap="BasePriceids"
		parameterType="com.sve.datacenter.model.Ban_chargs">
		select bc.*,c.*,p.*
		from ban_chargs
		bc left join chargs c on bc.chargid=c.chargid left
		join priceproject p
		on p.priceid=bc.price_id where
		<if test="fan_id!=null and fan_id!=''">
			bc.fan_id=#{fan_id}
		</if>
		<if test="park_id!=null and park_id!=''">
			bc.park_id=#{park_id}
		</if>
		<if test="vehic_id!=null and vehic_id!=''">
			bc.vehic_id=#{vehic_id}
		</if>
	</select>
	<sql id="Base_Column_List">
		bcid, price_id, chargid, price, startdate, enddate,
		remark,
		fan_id,
		park_id, vehic_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select from ban_chargs where bcid =
		#{bcid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		ban_chargs
		where bcid = #{bcid,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="com.sve.datacenter.model.Ban_chargs">
		insert into ban_chargs
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bcid != null">
				bcid,
			</if>
			<if test="priceId != null">
				price_id,
			</if>
			<if test="chargid != null">
				chargid,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="startdate != null">
				startdate,
			</if>
			<if test="enddate != null">
				enddate,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="fan_id != null">
				fan_id,
			</if>
			<if test="park_id != null">
				park_id,
			</if>
			<if test="vehic_id != null">
				vehic_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bcid != null">
				#{bcid,jdbcType=INTEGER},
			</if>
			<if test="priceId != null">
				#{priceId,jdbcType=INTEGER},
			</if>
			<if test="chargid != null">
				#{chargid,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
			<if test="startdate != null">
				#{startdate,jdbcType=DATE},
			</if>
			<if test="enddate != null">
				#{enddate,jdbcType=DATE},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="fan_id != null">
				#{fan_id,jdbcType=INTEGER},
			</if>
			<if test="park_id != null">
				#{park_id,jdbcType=INTEGER},
			</if>
			<if test="vehic_id != null">
				#{vehic_id,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sve.datacenter.model.Ban_chargs">
		update ban_chargs
		<set>
			<if test="priceId != null">
				price_id = #{priceId,jdbcType=INTEGER},
			</if>
			<if test="chargid != null">
				chargid = #{chargid,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DECIMAL},
			</if>
			<if test="startdate != null">
				startdate = #{startdate,jdbcType=DATE},
			</if>
			<if test="enddate != null">
				enddate = #{enddate,jdbcType=DATE},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="fan_id != null">
				fan_id = #{fan_id,jdbcType=INTEGER},
			</if>
			<if test="park_id != null">
				park_id = #{park_id,jdbcType=INTEGER},
			</if>
			<if test="vehic_id != null">
				vehic_id = #{vehic_id,jdbcType=INTEGER},
			</if>
		</set>
		where bcid = #{bcid,jdbcType=INTEGER}
	</update>
</mapper>