<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sve.staff.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.sve.staff.model.Message" >
    <id column="mes_id" property="mesId" jdbcType="INTEGER" />
    <result column="mes_ower_id" property="mesOwerId" jdbcType="INTEGER" />
    <result column="mes_name" property="mesName" jdbcType="VARCHAR" />
    <result column="mes_context" property="mesContext" jdbcType="VARCHAR" />
    <result column="mes_status" property="mesStatus" jdbcType="INTEGER" />
    <result column="mes_adate" property="mesAdate" jdbcType="TIMESTAMP" />
    <association property="owners" column="mes_ower_id" 
    select="com.sve.datacenter.dao.OwnersMapper.selectByPrimaryKey">
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    mes_id, mes_ower_id, mes_name, mes_context,mes_status, mes_adate
  </sql>
  <select id="selectTg" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      SELECT * FROM message where mes_ower_id=#{mesOwerId} ORDER BY mes_status DESC,mes_id desc limit 0,5
  </select>
  <select id="selectTgload" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      SELECT * FROM message where mes_ower_id=#{mesOwerId} ORDER BY mes_status DESC,mes_id desc
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String">
  		select * from message
  		<trim prefix="where" prefixOverrides="or|and">
  		    <if test="mohu!=null and mohu!=''">
  			 mes_name LIKE CONCAT(CONCAT('%',#{mohu}),'%')
  			</if> 
  		</trim>
  		 order by mes_id desc  
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from message
    where mes_id = #{mesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message
    where mes_id = #{mesId,jdbcType=INTEGER}
  </delete>
  <update id="updateStatus" parameterType="java.lang.Integer">
      update message set mes_status=1 where mes_id=#{mesId}
  </update>
  <insert id="insertSelective" parameterType="com.sve.staff.model.Message" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mesId != null" >
        mes_id,
      </if>
      <if test="mesOwerId != null" >
        mes_ower_id,
      </if>
      <if test="mesName != null" >
        mes_name,
      </if>
      <if test="mesContext != null" >
        mes_context,
      </if>
      <if test="mesStatus != null" >
        mes_status,
      </if>
      <if test="mesAdate != null" >
        mes_adate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mesId != null" >
        #{mesId,jdbcType=INTEGER},
      </if>
      <if test="mesOwerId != null" >
        #{mesOwerId,jdbcType=INTEGER},
      </if>
      <if test="mesName != null" >
        #{mesName,jdbcType=VARCHAR},
      </if>
      <if test="mesContext != null" >
        #{mesContext,jdbcType=VARCHAR},
      </if>
      <if test="mesStatus != null" >
        #{mesStatus,jdbcType=INTEGER},
      </if>
      <if test="mesAdate != null" >
        #{mesAdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sve.staff.model.Message" >
    update message
    <set >
      <if test="mesOwerId != null" >
        mes_ower_id = #{mesOwerId,jdbcType=INTEGER},
      </if>
      <if test="mesName != null" >
        mes_name = #{mesName,jdbcType=VARCHAR},
      </if>
      <if test="mesContext != null" >
        mes_context = #{mesContext,jdbcType=VARCHAR},
      </if>
      <if test="mesStatus!= null" >
        mes_status = #{mesStatus,jdbcType=INTEGER},
      </if>
      <if test="mesAdate != null" >
        mes_adate = #{mesAdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mes_id = #{mesId,jdbcType=INTEGER}
  </update>
</mapper>